h1{
  font-family: 'Dosis', sans-serif;
  margin: 0 auto 1rem auto;
}
a#github-link{
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top:1rem;
  right:1rem;
  img{
    width: 100%;
    height: auto;
  }
}